$background-color: #1e1e1e;
$history-background-color: #1e1e1e;
$userlist-background-color: #252526;
$history-username-color: #cad68b;
$history-text-color: #ce8256;
$userlist-username-color: #98d6f7;
$wit-color: #fff;
$send-button-color: #ce8256;
