@import 'base/color.scss';
@import 'base/reset.scss';

$break-small: 600px;

body {
  background-color: $background-color;
}

.chat-app {
  @import 'components/usernamePromptModal.scss';
  @import 'components/history.scss';
  @import 'components/chatInput.scss';
  @import 'components/whoIsTyping.scss';
  @import 'components/userList.scss';

  font-family: "Droid Sans";

  .header{
    height: 10vh;
    padding: 1%;
    color: $history-text-color;
    border-bottom: 10px;
    border-color: #181818;

    h1 {
      margin:0;
    }
  }

  .main-content {
    display: flex;

    @media all and (max-width: $break-small) {
      display: block;
    }
  }

  .left-container {
   flex:5;

   @media all and (max-width: $break-small) {
     flex: none;
   }
  }

  .right-container {
    flex:1;
    padding-left: 2%;

    
    @media all and (max-width: $break-small) {
      flex: none;
      padding-left: 0;
    }
  }

}